python-dateutil==2.8.1
python-jsonrpc-server==0.3.4
python-language-server==0.31.9
pytz==2019.3
appdirs==1.4.3
bson==0.5.8
colorama==0.4.3
dataclasses==0.6
distlib==0.3.0
filelock==3.0.12
jedi==0.15.2
